/* chosen portfolio template: http://demo.harnishdesign.net/html/callum/index.html */

/* FORMAT STUFF START */
/* H2 Font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

h2{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}

/* h4 Font */
@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');

h4{
    font-family: 'Cardo', serif;
    text-decoration: underline;
    font-weight: 900;
}



html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.section-title {
    color: white;
    border-radius: 5px;
    background-color: #0077b5;
    padding: 5px;
    text-align: center;
    font-size: 2.5em;
}

span.section-title {
    color: white;
    background-color: grey;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
    font-weight: 500;
}

/* FORMAT STUFF END */

/* NAVIGATION START */
.nav-link:hover {
    color: white;
    opacity: 0.5;
}

/* NAVIGATION END */

/* LANDING START */
#landing {
    background: linear-gradient(rgba(244, 242, 242, 0.1),
            rgba(248, 248, 248, 0.1)), url(../image/lubo-minar-B-gb_8fgmz8-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#landing h1{
    font-family: 'Times New Roman';
    font-size: 3em;
}

#landing h3, #landing h4{
font-style: italic;
}

#landing .btn{
    transition: 0.5s !important;
}

#landing .btn:hover {
    background-color: #0077b5 ;
}

#Me {
    border-radius: 50%;
    aspect-ratio: 1;
    border: 10px solid #0077b5;
    object-fit: cover;
}

/* LANDING END */

/* ABOUT START */
#about {
    background: linear-gradient(rgba(244, 242, 242, 0.85),
            rgba(248, 248, 248, 0.85)),
        url(../image/resume2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
    line-height: 2.20;
    scroll-margin-block-start: 60px;
}

.a {
    /* text-align: center; */
    font-size: 125px;
    font-weight: bold;
}

/* ABOUT END */

/* SERVICES START */
#services {
    background: linear-gradient(rgba(244, 242, 242, 0.10),
            rgba(248, 248, 248, 0.10)), url(../image/lubo-minar-B-gb_8fgmz8-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
    scroll-margin-block-start: 60px;
    /* min-height: 900; */
}

#services .card img {
    aspect-ratio: 1;
    width: 25%;
    margin: auto;
}

#services .card {
    height: 250px;
}

/* SERVICES END */

/* SKILLS START */
#skills {
    background: linear-gradient(rgba(244, 242, 242, 0.10),
            rgba(248, 248, 248, 0.1010)), url(../image/resume2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
    scroll-margin-block-start: 60px;
}


.logo{
height: 40px;
width: fit-content;
}
/* SKILLS END */

/* RESUMÉ START */
#resume {
    background: linear-gradient(rgba(244, 242, 242, 0.85),
            rgba(248, 248, 248, 0.85)), url(../image/resume2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
    scroll-margin-block-start: 60px;
}

#resume a{
    color: black;
    text-decoration-color: #0077b5;
}

#resume a:hover{
    color: #0077b5;
    text-decoration-color: #0077b5;
}
/* RESUMÉ END */

/* PROJECT START */
#project {
    background: linear-gradient(rgba(244, 242, 242, 0.10),
            rgba(248, 248, 248, 0.10)), url(../image/resume2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
    scroll-margin-block-start: 60px;
}

/* Card relative */
#project .card{
    position: relative;
    height: 525px;
}
/* SIZES IMAGES */
#project .card img {
    max-height: 400px;
    object-fit: cover;
    flex-grow: 1;
    transition: .5s;
}

/* BECOMES OPAQUE WHEN HOVER */
#project .card:hover > img{
    background-color: black;
    opacity: .5;
}

/* CENTERS BUTTONS IN IMG */
#project .btn-center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* BUTTON SPACING */
#project .btn{
    color: white;
    margin-right: 1rem!important;
    margin-left: 1rem!important;
    transition: .5s;
    text-decoration: none;
    outline: white 3px solid;
    background-color: #0077b5;
    font-size: 16px;
}

#project .btn:hover{
    outline: white 3px solid;
    background-color: transparent;
    color: white;
}

/* SETS BTN TO INVISIBLE */
#project .card .btn-center .btn {
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    z-index: 1;
}

/* SHOWS BUTTONS WHEN HOVER */
#project .card:hover>.btn-center .btn {
    visibility: visible;
    opacity: 1;
}

/* PROJECT END */

/* TESTIMONIAL START */
#testback {
    background-image: url(../image/resume2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
    scroll-margin: 60px;

}

#testimonial {
    min-height: fit-content;
    background: linear-gradient(rgba(244, 242, 242, 0.01),
            rgba(248, 248, 248, 0.01)),
        url(../image/lubo-minar-B-gb_8fgmz8-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    scroll-margin: 60px;
}

#testimonial h2:first-child {
    font-size: 40px;
}

#testimonial .carousel-inner {
    height: 550px;
}

#testimonial img {
    aspect-ratio: 1;
    height: 100%;
    width: 250px;
    object-fit: cover;
    object-position: center;
}

.circle {
    width: 10px !important;
    height: 10px !important;
    aspect-ratio: 1 !important;
    border-radius: 50% !important;
    background-color: white !important;
}

/* TESTIMONIAL END */

/* CONTACT LINKS START */
#contact {
    scroll-margin-block-start: 60px;
}

#contact span.section-title{
    color: white;
    background-color: grey;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 25px;
    font-weight: 500;
}

#contact .btn{
    transition: .5s;
}

#contact .btn:hover{
background-color: #0077b5;
color: white;
}

#contact ul li a {
    font-size: 1.50em;
    color: white;
    text-decoration: none;
    transition: .5s;
}

#contact ul li a:hover {
color: grey;
}

.fa {
    color: white;
    padding: 10px;
    transition: .5s;
    font-size: 2em;
}

.fa-codepen:hover {
    color: #34a65f;
}

.fa-free-code-camp:hover {
    color: green;
}

.fa-github-square:hover {
    color: #4078c0;
}

.fa-linkedin:hover {
    color: #0077b5;
}

/* FONT AWESOME STYLING */
.fa-html5 {
    color: orange;
}

.fa-css3-alt {
    color: #264de4;
}

.fa-bootstrap {
    color: #563d7c;
}

.fa-code {
    color: #0078d7;
}

.fa-paintbrush {
    color: #3c327b;
}

.fa-play {
    color: #ed2224;
}


/* FONT AWESOME STYLING END */

/* CONTACT LINKS END */